* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
  color: #fff;
}

.navbar {
  background-color:blanchedalmond;
  height: 3rem;
  color: #111;
  text-align: center;
  line-height: 250%;
  font-weight: bold;
  font-size: large;
}

.card-container {
  display: flex;
  justify-content: space-evenly; 
  gap: 2rem; 
  flex-wrap: wrap; 
}

.card1 {
  background-color: rgb(7, 211, 242);
  width: 20rem;
  height: 20rem;
  border-radius: 8%;
  text-align: center;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.card2 {
  background-color: rgb(242, 113, 7);
  width: 20rem;
  height: 20rem;
  border-radius: 8%;
  text-align: center;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
