* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
  color: #fff;
}

button {
  margin: 5px;
  padding: 5px;
}

input {
  margin: 10px 5px;
  padding: 5px;
  width: 50%;
  display: block;
}

.my-div {
  width: 70%;
  height: 250px;
  background-color: #ffffff;
}

.page {
  width: 100%;
  height: 100vh;
  background-color: gray;
  margin: 10px;
}


