* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
  color: #000000;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px;
  gap: 2rem;
}

.card {
  background-color: #ffffff22;
  width: 25rem;
  height: 28rem;
  border-radius: 8%;
  color: rgb(255, 255, 255);
  text-align: center;
  border: #ffffff solid 2px;
}

.card img {
  width: 12rem;
  height: 12rem;
  margin-top: 2rem;
  object-fit: cover;
  border-radius: 50%;
}

.card h1 {
  margin-top: 1rem;
  font-size: 55px;
}

.card p {
  padding-bottom: 18px;
  font-size: 18px;
  margin-top: 15px;
}

.card button {
  border-radius: 10px;
  width: 10rem;
  height: 3rem;
  font-size: 20px;
}